In [1]:
print("Hello World")

Hello World

In [ ]:
2+3

5

### code with python

In [3]:
a = 5
print(type(a))

<class 'int'>

In [5]:
a = 2.3
print(type(a))

<class 'float'>

In [8]:
a = "Hello World"
print(a, type(a))
a = "Hello World"
a

Hello World <class 'str'>

'Hello World'

In [11]:
a = 5
b = 10
#print("value of a", a, "value of b", b)
print(f"value of a is {a} and value of b is {b}")

value of a is 5 and value of b is 10

In [64]:
a = 'Hello'
b = 'World'
print(a+ ' ' +b)
a*3

Hello World

'HelloHelloHello'

In [71]:
a = 5
type(a)

int

In [74]:
a = float(a)
#print(type(a))
type(a)
a

5.0

In [69]:
a = str(a)
a

'5.0'

### If Else

In [27]:
a = 4
b = 2

if a > b:
    print(a)
else:
    print(b)

4

In [75]:
marks = 90

if marks >= 90:
    print("A")
elif marks >= 86:
    print("A-")
else:
    print("B+")

A

### For Loop

In [29]:
for i in range (0, 10, 1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
for i in range(9, -1, -1):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [44]:
sum = 0
for i in range(10):
    sum +=i
    print(sum)

0
1
3
6
10
15
21
28
36
45

### While

In [43]:
i = 0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

### Array / List

In [108]:
arr = [1, 2, 3, 4.5, 5, 'c', "marjia", [10, 20, 30]]
print(arr[0])
print(arr[6][0])
print(arr[5])
print(arr[3])
print(arr[7][0])
print(arr[7])

1
m
c
4.5
10
[10, 20, 30]

In [109]:
arr.append("cse")
arr

[1, 2, 3, 4.5, 5, 'c', 'marjia', [10, 20, 30], 'cse']

In [110]:
arr.insert(0, "UIU")
arr.insert(3, "AI")
arr

['UIU', 1, 2, 'AI', 3, 4.5, 5, 'c', 'marjia', [10, 20, 30], 'cse']

In [111]:
arr.pop(0)
arr

[1, 2, 'AI', 3, 4.5, 5, 'c', 'marjia', [10, 20, 30], 'cse']

In [112]:
arr.remove(3)
arr.remove("AI")
arr

[1, 2, 4.5, 5, 'c', 'marjia', [10, 20, 30], 'cse']

In [ ]:
if "cse" in arr:
    print("ÿes")

ÿes

In [100]:
#Slicing
arr[0:3]
print(arr)
arr[:]
print(arr) 
arr[:-1]
print(arr) 
arr[-2:]
print(arr)

[1, 2, 3, 'c', 'marjia', [10, 20, 30], 'cse']
[1, 2, 3, 'c', 'marjia', [10, 20, 30], 'cse']
[1, 2, 3, 'c', 'marjia', [10, 20, 30], 'cse']
[1, 2, 3, 'c', 'marjia', [10, 20, 30], 'cse']

In [93]:
for i in range(len(arr)):
    print(arr[i])

1
2
3
c
marjia
[10, 20, 30]
cse

In [96]:
for i in arr:
    print(i)

1
2
3
c
marjia
[10, 20, 30]
cse

### print all pair of numbers from a list

arr = [1,2,3,4,5]

In [97]:
a = [1, 2, 3, 4, 5]
for i in range(len(a)):
    for j in range(i+1, len(a), 1):
        print(a[i],a[j])

1 2
1 3
1 4
1 5
2 3
2 4
2 5
3 4
3 5
4 5

In [119]:
Dict = {
    "Name" : "Marjia",
    "ID" : 958,
    "Joined" : 2022
}

Dict.values()

dict_values(['Marjia', 958, 2022])

In [120]:
Dict.keys()

dict_keys(['Name', 'ID', 'Joined'])

### Function

In [126]:
def sum(a,b):
    return a+b
sum(5, 6)

11

In [124]:
sum(5.5, 6)

11.5

In [129]:
sum("hello" , " world")

'hello world'